#Django
SECRET_KEY=<your-secret-key>
DEBUG=True

# Database (SQLite для разработки)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# PostgreSQL (для продакшена)
# DB_ENGINE=django.db.backends.postgresql
# DB_USER=jobify
# DB_PASSWORD=secret
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=jobify
